<div class="filters-bar is-collapsed">
  <div class="filters-bar__mobile-header">
    <div class="filters-bar__mobile-header__text">Filters</div>
    <div class="filters-bar__mobile-header__icon icon icon-arrow-down"></div>
  </div>

  <div class="filters-bar__header">
      <p class="filters-bar__header__title">Your Selection</p>

    
    
    
      <ul class="filters-bar__selected-list">
      </ul> 
    
      <a href="{{ collection.url }}#products" class="filters-bar__clear">Clear All</a>
    

    
    
  </div>

  <div id="collection-filters-container" class="filters-bar__filters cf-container"></div>
  <script src="https://collection-filter-www.herokuapp.com/collection-filter-v1.js?shop={{shop.permanent_domain}}"></script>
  
    
  
</div>
