<div class="newsletter">
  <p class="message"></p>
    <form action="{{ settings.mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" class="contact-form" target="_blank" id="mailchimp-popup">
      <input type="email" value="" name="EMAIL" class="newsletter-section__input required contact_email" placeholder="Enter your email address..." />
      <input type="submit" value="Sign Up" name="subscribe" class="newsletter-section__btn btn action_button sign_up" />
    </form>
</div>